<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectmasjidapps">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".RegisterMain"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".LoginMain"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeMain"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".Tazkirah.RequestTazkirah"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".Tazkirah.RequestTazkirahConfirmation" />
        <activity android:name=".Tazkirah.TazkirahMain"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".Donation.DonationMain"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".Donation.MoneyFlowStatement"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Donation.DonateItem" />
        <activity android:name=".Donation.DonateItemConfirmation" />
        <activity android:name=".Booking.BookingMain"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".Booking.BookingConfirmation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Management.MayyitManagement"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".Admin.AdminHome"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".Admin.Tazkirah.AdminListTazkirah"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".Admin.Tazkirah.TazkirahConfirmation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Admin.Booking.AdminBookingList"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Admin.Booking.AdminBookingDetail"
            android:theme="@style/AppTheme.NoActionBar"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>