<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectmasjidapps">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".RegisterMain" >
        </activity>
        <activity android:name=".LoginMain" >
        </activity>
        <activity android:name=".HomeMain" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Tazkirah.RequestTazkirah" >
        </activity>
        <activity android:name=".Tazkirah.RequestTazkirahConfirmation" />
        <activity android:name=".Tazkirah.TazkirahMain" >
        </activity>
        <activity android:name=".Donation.DonationMain" >
        </activity>
        <activity android:name=".Donation.MoneyFlowStatement" />
        <activity android:name=".Donation.DonateItem" />
        <activity android:name=".Donation.DonateItemConfirmation" />
        <activity android:name=".Booking.BookingMain" />
        <activity android:name=".Booking.BookingConfirmation" />
        <activity android:name=".Management.MayyitManagement" />
    </application>

</manifest>